<h1>search</h1>

<% @amines.each do |amine| %>
  <p><%= amine.name %></p>
  <p>Caratère<%= amine.mood %></p>
  <p>Description<%= amine.description %></p>
  <p><%= amine.price %>€</p>
  <p><%= link_to 'Supprimer', amine_path(amine), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %></p>
<% end %>
