<%= render "headerAdmin" %>

<div class="usercontainer">


  <div>
    <h1 class="account-title">Mes amines</h1>
  </div>
  <div class = container-filter>
    <%= link_to "À valider", request.params.merge(sort: "pending") %>
    <%= link_to "Mes Amines", request.params.except(:sort) %>
    <%= link_to "Validés", request.params.merge(sort: "accepted") %>
  </div>
  <div class="account-container">
    <div class="accountcard">
      <% @reservations.size == 0 ? contents = @amines : contents = @reservations %>
      <% contents.each do |content| %>
        <% if contents.size == @amines.size %>
          <% object = content %>
        <% else %>
          <% object = content.amine  %>
        <% end %>

        <div class ="amine-card">
          <% object.photos.each do |photo| %>
            <%= cl_image_tag photo.key, crop: :fill %>
          <% end %>
          <div class="description-card">
            <p>Nom <%= object.name %></p>
            <p>Caractère => <%= object.mood.name %></p>
            <p>Description => <%= object.description %></p>
            <p>Prix => <%= object.price %>€</p>
            <p>defefes => <%=content.date if @amines.size == 0 %></p>
            <p>Status => <%=content.status if @amines.size == 0 %></p>
          </div>
          <div class="btn-container">
            <div class="link">
              <%if @amines.size == 0%>
                <%= link_to accept_reservation_path(content), data: {turbo_method: :patch} do %>
                  <div class="icone">
                    <i class="fa-solid fa-check"></i>
                  </div>
                <% end %>
              <% end %>
            </div>
            <div class="link">
              <%if @amines.size == 0%>
                <%= link_to decline_reservation_path(content), data: {turbo_method: :patch} do %>
                  <div class="icone"><i class="fa-solid fa-xmark"></i></div>
                <% end %>
              <% end %>
            </div>
            <div class="link" data-controller="reservation">
              <div class="icone" data-action="click->reservation#showPopup">
                <i class="fa-solid fa-question"></i>
              </div>
              <div class="popup display-none" data-reservation-target="popup">
                <div class="placement">
                  <div class="popup--card">
                    <div>
                      <p>fefefefefe</p>
                    </div>
                    <div>
                      <div>
                        <p>image</p>
                      </div>
                      <div>
                        <p>content</p>
                      </div>
                    </div>
                    <div>
                      <div>
                        <p>image</p>
                      </div>
                      <div>
                        <p>Content</p>
                      </div>
                    </div>
                    <div>
                      <div>
                        <p>buttons</p>
                      </div>
                    </div>
                  </div>
                </div>
                <i class="fa-solid fa-xmark cross" data-action="click->reservation#showPopup"></i>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
