<%= render "headerAdmin" %>

<div class="usercontainer">


  <div>
    <h1 class="account-title">Mes amines</h1>
  </div>
  <div class="new-amine">
    <%= link_to "Proposer un Amine", new_amine_path %>
  </div>
  <div class = container-filter>
    <%= link_to "Réservations à valider", request.params.merge(sort: "pending"), class:"button #{'active' if params[:sort] == 'pending' }" %>
    <%= link_to "Mes Amines", request.params.except(:sort) , class:"button #{'active' unless params[:sort].present? }" %>
    <%= link_to "Réservations validées", request.params.merge(sort: "accepted") , class:"button #{'active' if params[:sort] == 'accepted' }" %>
  </div>
  <div class="account-container">
    <div class="accountcard">
      <% if @contents[0].class.name == "Amine" %>
        <% @contents.each do |amine| %>
          <div class ="amine-card">
            <%= cl_image_tag amine.photos.first.key, crop: :fill if amine.photos.first.key %>
            <div class="description-card">
              <h3><%= amine.name %></h3>
              <p>Caractère : <%= amine.mood.name %></p>
              <p>Description : <%= amine.description %></p>
              <p>Prix : <%= amine.price %>€</p>
            </div>
          </div>
        <% end %>
      <% elsif @contents[0].class.name == "Reservation"  %>
        <% @contents.each do |reservation| %>
        <div class ="amine-card">
            <%= cl_image_tag reservation.amine.photos[0].key, crop: :fill if reservation.amine.photos[0].key %>
          <div class="description-card">
            <h3><%= reservation.amine.name %></h3>
            <p>Prix : <%= reservation.amine.price %>€</p>
            <p>Demande de réservation le : <%=reservation.date %></p>
            <p>Message : <%= reservation.message %></p>
            <p>Statut de la reservation : <%= reservation.status == "pending" ? "En attente" : "Validée"%></p>
          </div>
          <div class="btn-container">
            <% if reservation.status == "pending" %>
              <div class="link">
                <%= link_to accept_reservation_path(reservation), data: {turbo_method: :patch} do %>
                  <div class="icone">
                    <i class="fa-solid fa-check"></i>
                  </div>
                <% end %>
              </div>
              <div class="link">
                <%= link_to decline_reservation_path(reservation), data: {turbo_method: :patch} do %>
                  <div class="icone"><i class="fa-solid fa-xmark"></i></div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
