<div class="header">
  <div class="logo"><%= link_to "", "/" %></div>
  <div class="header__menu__SearchBarre">

    <h2><span class="auto-type"></span></h2>
    <h2>Hey Amine !</h2>

    <%= form_with url: search_amines_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Essayez de rechercher ''boire un verre'' ou ''Amine romantique''"
      %>
  <% end %>
  </div>
  <div class="color">
  <div class="dropdown">
      <button class="dropbtn">
        <svg viewBox="0 0 100 80" width="40" height="40" class="rect--color">
          <rect y="15"width="50" height="7"></rect>
          <rect y="30" width="50" height="7"></rect>
          <rect y="45" width="50" height="7"></rect>
        </svg>
        <div class="dropbtn--img">
          <img src="https://a0.muscache.com/defaults/user_pic-50x50.png?v=3">
        </div>
      </button>
      <div class="dropdown-content">
        <% if current_user %>
          <%= link_to "home", "/" %>
          <%= link_to "Mes amines", account_amines_path %>
          <%= link_to "Reservations", account_reservations_path %>
          <%= link_to "Déconnexion", destroy_user_session_path, data: { turbo_method: :delete}%>
        <% else %>
          <%= link_to "Connexion", new_user_session_path %>
          <%= link_to "Inscription", new_user_registration_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>

     <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
      <script>
        var typed = new Typed(".auto-type", {
          strings: ["Envie de boire un verre ?", "Besoin d'une oreille attentive ?", "Envie de faire un foot ?"],
          typeSpeed: 50,
          backSpeeed: 50,
          loop: true,
        })
      </script>
