<%= render "header" %>


<div class="categories">

  <div class="link">
  <%= link_to search_amines_path(query: "sport") do %>
    <div class="icone"><i class="fa-solid fa-bicycle"></i>
    <span>Sortie sportive</span></div>
  <% end %>
  </div>

  <div class="link">
  <%= link_to search_amines_path(query: "romantique") do %>
    <div class="icone"><i class="fa-solid fa-heart"></i>
    <span>Soirée romantique</span></div>
  <% end %>
  </div>

  <div class="link">
  <%= link_to search_amines_path(query: "party") do %>
    <div class="icone"><i class="fa-solid fa-champagne-glasses"></i>
    <span>Soirée festive</span></div>
  <% end %>
  </div>

  <div class="link">
  <%= link_to search_amines_path(query: "netflix") do %>
    <div class="icone"><i class="fa-solid fa-couch"></i>
    <span>Soirée tranquille</span></div>
  <% end %>
  </div>

  <div class="link">
  <%= link_to search_amines_path(query: "travail") do %>
    <div class="icone"><i class="fa-solid fa-briefcase"></i>
    <span>Soirée studieuse</span></div>
  <% end %>
  </div>

  <div class="link">
  <%= link_to search_amines_path(query: "déprime") do %>
    <div class="icone"><i class="fa-solid fa-face-sad-tear"></i>
    <span>Soirée déprime</span></div>
  <% end %>
  </div>

  <div class="link">
  <%= link_to search_amines_path(query: "culture") do %>
    <div class="icone"><i class="fa-solid fa-building-columns"></i>
    <span>Sortie culturelle</span></div>
  <% end %>
  </div>

</div>

<div id="bordure"></div>

<div class="homecontainer">

<div class="texthome">
  <h4>Voici quelques Amines qui pourraient vous plaire :</h4>
  <p id="voirtous"><%= link_to 'Voir tous ➝', search_amines_path(query: "")%></p>
</div>

  <div>
    <div class="classcard">
      <div class= "homecard">
        <% @amines.first(2).each do |amine| %>
          <div class="card">
            <%= cl_image_tag amine.photos.first.key, crop: :fill %>
            <div class="textcard">
              <div>
                <p class="card-title"><%= amine.name %></p>
                <p class="card-mood"><%= amine.mood.name %></p>
              </div>
              <div class="price">
                <p><%= amine.price %>€</p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="homecard">
        <div class="card">
          <%= cl_image_tag @amines.last.photos.first.key, crop: :fill %>
          <div class="textcard">
            <div>
              <p class="card-title"><%= @amines.last.name %></p>
              <p class="card-mood"><%= @amines.last.mood.name %></p>
            </div>
            <div class="price">
              <p><%= @amines.last.price %>€</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p id="voirtous"><%= link_to 'Voir tous ➝', search_amines_path(query: "")%></p>
  </div>
