<%= render "header" %>


<% @amines.each do |amine| %>
  <%#amine.photos.each do |photo| %>
    <%#= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <%# end %>
  <p><%= amine.name %></p>
  <p>Caratère<%= amine.mood.name %></p>
  <p>Description<%= amine.description %></p>
  <p><%= amine.price %>€</p>
<% end %>


<%= link_to 'Voir tous', search_amines_path(query: "")%>
