<% @reservations.each do |reservation| %>
  <div>
    <%= reservation.status %>
    <%= reservation.date %>
    <%= reservation.amine.name %>
    <% if reservation.status == "pending" %>
      <%= link_to "accepter", accept_reservation_path(reservation), data: {turbo_method: :post} %>
      <%= link_to "refuser", decline_reservation_path(reservation), data: {turbo_method: :post} %>
    <% end %>
  </div>
<% end %>
