<%= render "headerAdmin" %>

<h1 class="account-title">Mes réservations</h1>
<h2 class="account-title">Bonjour <%= current_user.first_name %> <%= current_user.last_name %></h2>

  <div class = container-filter>
  <%= link_to "En attente", request.params.merge(sort: "pending"), class:"button #{'active' if params[:sort] == 'pending' }" %>
  <%= link_to "Validés", request.params.merge(sort: "accepted"), class:"button #{'active' if params[:sort] == 'accepted' }" %>
  </div>

<div class="account-container">
  <div class="accountcard">
    <% @reservations.each do |reservation| %>
      <div class="amine-card-user">
        <% reservation.amine.photos.each do |photo| %>
          <%= cl_image_tag photo.key, crop: :fill %>
        <% end %>
        <div class="description-card">
          <p><%= reservation.amine.name %></p>
          <p>Caractéristique(s): <%= reservation.amine.mood.name %></p>
          <p>Prix : <%= reservation.amine.price %>€</p>
          <p>Date : <%= reservation.date %></p>
          <p>Status : <%reservation.status%></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
