<div class="popup " >
  <div class="popup--card">
    <div class="popup--card--amine">
      <div class="maincontainer">
              <div>
                <div class="form-title">
                  <h4><span>Se connecter</span></h4>
                </div>
                <div class="formulaire">
                  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),
                    data: {turbo: false}) do |f| %>
                    <div class="form-inputs">
                    <p class="label-fr">Email:</p>
                      <%= f.input :email,
                                  required: false,
                                  autofocus: true,
                                  input_html: { autocomplete: "email" }, label: false %>
                      <p class="label-fr">Mot de passe:</p>
                      <%= f.input :password,
                                  required: false,
                                  input_html: { autocomplete: "current-password" }, label: false %>
                    </div>
                    <div class="form-actions">
                      <div class="btns">
                      <%= f.button :submit, "Log in" %>
                      <%=  link_to "Retour à l'accueil", root_path, class: "btn-back" %>
                      </div>
                      <div class="linkT">
                      <%=  link_to "Inscription", new_user_registration_path, class: "link" %>
                      <%=  link_to "Mot de passe oublié ?", new_user_password_path, class: "link" %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
     </div>
</div>
